body {
  text-align: center;
  align-items: center;
}

.main {
  display: flex;
  align-content: center;
  align-items: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid black;
  height: 680px;
  width: 860px;
  margin: auto;
}

.scoreboard {
  display: flex;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-right: 50px;

}

.card {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  /* background-image: url("https://i.imgur.com/OVpKRoG.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;

  
  
}

.ladybug {
  background-image: url("/Users/liz/ga_seir19/projects/Think-Spring/ladybug.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.bee {
  background-image: url("/Users/liz/ga_seir19/projects/Think-Spring/bee.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}

.tulip{
  background-image: url("https://i.imgur.com/OVpKRoG.jpg");

}

.event{
  pointer-events: none;
}



